<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Support - JobJub</title>
    <style>
        body {
            margin: 0px;
            background-color:beige;
            color: teal;
            font-family: Playpen;
        }
        
        @font-face {
            font-family: Playpen;
            src: url(PlaypenSansThai-VariableFont_wght.ttf);
        }
    </style>
</head>
<body>
    <div id="result">
        <h2>Support</h2>
    </div>
</body>
</html>